<div layout="row" layout-wrap>
  <div layout="column" id="vid_wrapper">
    <video id="vPlayer" src="{{mediaUrl(currEntry).url | trusted }}" controls autoplay preload></video>
  </div>
  <md-card class="md-padding">
    <md-card-content flex>
    <h3>{{currEntry.title}}</h3>
    <p ng-bind-html="currEntry.content"></p>
      <p>Posted: {{currEntry.publishedDate}}</p>
      <div class="md-actions" layout="row" layout-align="end center">
         <a href="{{currEntry.link}}" target="_blank" class="text-info"><md-button>view at {{feed_result.viewAt}}</md-button></a>
      </div>
    </md-card-content>
  </md-card>
</div>

